* {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-weight: bold;
    background-color: orange;
    color: blue;
}

img {
    height: auto;
    width: 300px;
}

ul {
    background-color: brown;
    color: white;
}

ol {
    font-weight: 300;
    background-color: lightblue;
}